::selection {
    background: #F23838;
}
html {
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Roboto Slab', serif; /*tipo de fuente*/
    background-color: #ffffff;
}
* {
    box-sizing: border-box;
}
img {
    display: block;
    height: 20rem;
    margin: 1rem;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.6;
}
h2 {
    font-size: 1.8rem;
    font-style: italic;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
h4 {
    font-size: 1.3rem;
    font-weight: bold;
}
/*HEADER*/
.main-title{
    background-color: #ffffff; /*color de fondo*/
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.main-nav { 
    margin: 1rem;
    padding: 1rem;
    list-style: none; /*estilo de la lista*/
    list-style-type: none;
    background-color: #ffffff;
    text-align: center;
}
.main-nav__item {
    display: inline-block;
}
.main-nav__item a {
    color: #000000;
    padding: 1rem;
    text-decoration: none;
}
.main-nav__item a:hover { /*al pasar sobre el elemento*/
    color: #F23838;
}
.main-nav__item a:active { /*al clickearlo*/
    color: #38f266;
}
.main-nav__item a::before {/*antes del elemento agrega*/
    content: " < ";
}
.main-nav__item a::after {/*despues del elemento agrega*/
    content: " > ";
}
/*MAIN*/
main {
    width: 100%;
    padding: 5rem;
    border-style: solid;
    border-radius: 2rem;

}
div {
    box-sizing: border-box;
}
/*FOOTER*/
footer {
    height: 10vh;
}
.last-section {
    padding: 3rem 3rem;
    list-style: none;
    background-color: #000000;
    text-align: center;
}
.last-section__item {
    display: inline-block;
}
.last-section__item a {
    color: #ffffff;
    text-decoration: none;
}
.last-section__item p {
    color: #ffffff;
}
.last-section__item a:hover {
    color: #F23838;
}
.last-section__item a:active {
    color: #38f266;
}
.last-section__item a::before {
    content: " → ";
}
.last-section__item a::after {
    content: " ← ";
}
.last-nav {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: 0;
    list-style: none;
    background-color: #000000;
    text-align: center;
}
.last-nav__item {
    display: inline-block;
}
.last-nav__item a {
    color: #ffffff;
    text-decoration: none;
}
.last-nav__item a:hover {
    color: #F23838;
}
.last-nav__item a:active {
    color: #38f266;
}
.last-nav__item a::before {
    content: " ~ ";
}
.last-nav__item a::after {
    content: " ~ ";
}