::selection {
    background: #F23838;
}
/* Footer */

footer {    
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    padding: 50px 0 0 0; 
    font-size: 1rem;
    font-weight: 900;
    text-align: center; 
}
    
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 0px 15px;
    }

    .grid-item-a { grid-area: 1 / 1 / 2 / 3; }

    .grid-item-b { grid-area: 1 / 2 / 2 / 3; }        

/*RELATIONSHIP*/
.grid-container-relationship {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-template-areas:
    "wrap-one wrap-one-one wrap-one-two"
    "wrap-two wrap-three wrap-four"
    "wrap-five wrap-six wrap-two-one"
    "wrap-three-one wrap-four-one wrap-five-one"
    "wrap-six-one wrap-two-two wrap-three-two"
    "wrap-four-two wrap-five-two wrap-six-two";
}    
.wrap-one { grid-area: wrap-one }
.wrap-one-one { grid-area: wrap-one-one }
.wrap-one-two { grid-area: wrap-one-two }
.wrap-two { grid-area: wrap-two }
.wrap-three { grid-area: wrap-three }
.wrap-four { grid-area: wrap-four }
.wrap-five { grid-area: wrap-five }
.wrap-six { grid-area: wrap-six }
.wrap-two-one { grid-area: wrap-two-one }
.wrap-three-one { grid-area: wrap-three-one }
.wrap-four-one { grid-area: wrap-four-one }
.wrap-five-one { grid-area: wrap-five-one }
.wrap-six-one { grid-area: wrap-six-one }
.wrap-two-two { grid-area: wrap-two-two }
.wrap-three-two { grid-area: wrap-three-two }
.wrap-four-two { grid-area: wrap-four-two }
.wrap-five-two { grid-area: wrap-five-two }
.wrap-six-two { grid-area: wrap-six-two }
/*ABOUT*/
.grid-container-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas:
    "grid-one grid-one-one grid-one-two";
}

.grid-one { grid-area: grid-one; }
.grid-one-one { grid-area: grid-one-one; }
.grid-one-two { grid-area: grid-one-two; }


.grid-container-one-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas:
    "grid-one grid-one-one grid-one-two";
}

.grid-one { grid-area: grid-one; }
.grid-one-one { grid-area: grid-one-one; }
.grid-one-two { grid-area: grid-one-two; }

.grid-container-about {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
    "one one-one one-two one-three"
    "two two-one two-two two-three";
}
.one { grid-area: one; }
.two { grid-area: two; }
.one-one { grid-area: one-one; }
.two-one { grid-area: two-one; }
.one-two { grid-area: one-two; }
.two-two { grid-area: two-two; }
.one-three { grid-area: one-three; }
.two-three { grid-area: two-three; }


/*PORTFOLIO*/
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}