/*MENU-RESPONSIVE*/
@charset "UTF-8";
/* generales */
html {
  /* etiqueta raíz */
    font-size: 62.5%; }

* {
    margin: 0px;
    padding: 0px; }

body {
    font-family: 'Montserrat'; }

header nav .flexMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    padding: 40px;
    font-size: 1.2rem; }

.flexMenu li a {
    text-decoration: none;
    color: #4c00ff; }

header h1 {
    color: #0095ff;
    font-size: 2.5rem;
    text-align: center;
    padding: 40px; }

/*Grilla */
.grid-container {
    display: grid;
    margin: 40px 0 40px 0;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 200px);
    gap: 1px 1px;
    text-align: center;
    justify-content: stretch;
    font-size: 1.5rem;
    grid-template-areas: "bannerUno bannerUno bannerUno bannerUno"
    "noticiaDos noticiaDos noticiaTres noticiaCuatro"
    "noticiaCinco noticiaSeis noticiaSiete noticiaCuatro"; }

.bannerUno {
    grid-area: bannerUno;
    background-color: #EFF4F7; }

.noticiaTres {
    grid-area: noticiaTres;
    background-color: #73CAEF; }

.noticiaDos {
    grid-area: noticiaDos;
    background-color: #89FFFB; }

.noticiaCuatro {
    grid-area: noticiaCuatro;
    background-color: #41E2DD; }

.noticiaCinco {
    grid-area: noticiaCinco;
    background-color: #50D8C8; }

.noticiaSeis {
    grid-area: noticiaSeis;
    background-color: #53B4F4; }

.noticiaSiete {
    grid-area: noticiaSiete;
    background-color: #CDE0E4; }

/* Footer */
footer {
    background-color: #e1eef7;
    width: 100%;
    height: 100px;
    padding: 50px 0 0 0; }

footer h5 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center; }
/*ME*/
::selection {
    background: #F23838;
}
body{
    margin-right: auto;
    margin-left: auto;
    padding-right: 100px;
    padding-left: 155px; }
/* Footer */    
footer {    
    background-color: #fff;
    width: 100%;
    height: 100px;
    padding: 50px 0 0 0; }
footer h5 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center; }
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 0px 15px;
    }

    .grid-item-a { grid-area: 1 / 1 / 2 / 3; }

    .grid-item-b { grid-area: 1 / 2 / 2 / 3; }        

/*RELATIONSHIP*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-template-areas:
        "wrap-one wrap-one-one wrap-one-two"
        "wrap-two wrap-three wrap-four"
        "wrap-five wrap-six wrap-two-one"
        "wrap-three-one wrap-four-one wrap-five-one"
        "wrap-six-one wrap-two-two wrap-three-two"
        "wrap-four-two wrap-five-two wrap-six-two";
    }
    
    .wrap-one { grid-area: wrap-one }
    .wrap-one-one { grid-area: wrap-one-one }
    .wrap-one-two { grid-area: wrap-one-two }
    .wrap-two { grid-area: wrap-two }
    .wrap-three { grid-area: wrap-three }
    .wrap-four { grid-area: wrap-four }
    .wrap-five { grid-area: wrap-five }
    .wrap-six { grid-area: wrap-six }
    .wrap-two-one { grid-area: wrap-two-one }
    .wrap-three-one { grid-area: wrap-three-one }
    .wrap-four-one { grid-area: wrap-four-one }
    .wrap-five-one { grid-area: wrap-five-one }
    .wrap-six-one { grid-area: wrap-six-one }
    .wrap-two-two { grid-area: wrap-two-two }
    .wrap-three-two { grid-area: wrap-three-two }
    .wrap-four-two { grid-area: wrap-four-two }
    .wrap-five-two { grid-area: wrap-five-two }
    .wrap-six-two { grid-area: wrap-six-two }